.btn {
	display: inline-block;
	border-radius: $border-radius;
	font-weight: 400;
	font-size: 1.6rem;
	text-align: center;
	vertical-align: middle;
	border: 1px solid transparent;
	cursor: pointer;
	user-select: none;

	&:disabled,
	&.disabled,
	&[aria-disabled='true'] {
		cursor: default;
	}

	&-primary {
		background: $primary-color;
	}
}

.primary-btn {
	display: inline-block;
	font-weight: 700;
  font-size: 16px;
  color: $white;
  background: $primary-color;
  border: none;
  padding: 16px 32px;
	text-decoration: none;
}

.primary-btn:hover {
	background-color: #077a82;
}

.primary-link {
	font-weight: 700;
	color: $primary-color;
	background-color: $white;
	border: none;

	a {
		color: $primary-color;
		border-bottom: 2px solid #02B1BE;
		text-decoration: none;
	}

	a:hover {
		color: #077a82;
		border-bottom: 2px solid #077a82;
	}
}

.secondary-btn {
	border: 1px solid #02B1BE;
    padding: 16px 32px;
    font-weight: 700;
    background: none;
    color: $secondary-color;
		text-decoration: none;
}

.secondary-btn:hover {
	color: $secondary-color;
	background-color: $primary-color;
}