// typography
$base-font-family: 'Poppins', sans-serif;
$reset-rem-size: 62.5%;
$font-size-base: 1.6rem;

// image path
$image-path: '../images';

// color
$base-color: #173756;
// $primary-color: #5f7678;
$primary-color: #02B1BE;
$secondary-color: #273138;
$dark: #0B151D;
$black: #000;
$white: #fff;

$border-radius: 6px;
