/* SECTION FAQ */

.accordion-body {
  max-width: min(922px, 90%);
  margin: 0 auto;

  .accordion {
  
    .accordion-container {
      position: relative;
      border-bottom: 1px solid rgba(39, 49, 56, 0.2);
      padding: 32px 0;
      .label {
        margin-bottom: 8px;
        font-size: $fluid-txt-size;
        line-height: 28px;
        cursor: pointer;
        text-transform: uppercase;
      }

      .label::after {
        content: url("../images/dropdown-icon.svg");
        float: right;
      }

      .content {
        position: relative;
        height: 0;
        text-align: justify;
        overflow: hidden;
        transition: 0.5s;
        font-size: 14px;
        line-height: 28px;
      }
    }

    .dropdown-icon {
      display: inline-block;
    }

    .accordion-container.active .content {
      height: 6rem;
    }

    .accordion-container.active .label.txt-secondary-bolder {
      transition: 0.5s ease-in-out;
    }

    .accordion-container.active .label::after {
      content: url("../images/dropip-icon.svg");
      transition: 0.5s ease;
    }
  }
}