// .home-page {
// }

body {
  box-sizing: border-box;
  font-family: $base-font-family;
  color: $white;
}

.nav {
  align-items: center;
  padding-top: 52px;
  padding-left: 112px;
}

.background-image {
  background-image: linear-gradient(90deg, #0B151D 0%, rgba(11, 21, 29, 0) 91.77%), url("/assets/images/landing-bg.png");
  background-attachment: fixed;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 498px;

  .underline {
    width: 109px;
    height: 2.25px;
    background: $primary-color;
  }
}

.flex {
  display: flex;
}

.nav-flex-gap {
  gap: 40px;
}

.nav-menu li {
  list-style-type: none;

  a {
    text-decoration: none;
    color: $white;
  }
}

.flag {
width: 26px;
height: 18px;
margin-right: 8px;
}

.navbar {
  margin-right: 60px;
}

.dropdown-btn {
  color: $white;
  background: none;
  border: none;

  a {
    text-decoration: none;
  }
}

.login-btn {
  margin-left: 64px;
}

.nav .flex ul {
  position: absolute;
  left: 0;
  width: 200px;
  background: #272727;
}

.fa-chevron-down {
  margin-left: 4px;
  display: inline-flex;
  align-items: flex-end;
}

.main-heading {
  line-height: 74px;
  .txt-primary {
    color: $primary-color;
    font-size: 64px;
    font-weight: 400;
  }
}

.header-content {
  width: 60%;
  margin-top: 171px;
  margin-left: 112px;

  .txt-white {
    width: 50%;
    font-size: 18px;
    line-height: 28px;
    margin-top: 24px;
  }
}

#main {
  color: #273138;
}

.page-1 {
  margin-inline: auto;
  margin: 136px 112px;
  text-align: center;
}

.heading {
  width: 45%;
  margin: 0 auto;
  margin-bottom: 48px;
}

.grid {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 32px;
}

#features {
  padding: 132px 108px 136px 112px;
  .heading-group {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  background: #F5F5F5;
}

.cards-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 36px;
}

#property_sell {
  background: #E8F2F3;
  padding-bottom: 136px;

  .property-description-1 {
    text-align: center;
    padding-top: 136px;
    .property-sentence {
      font-weight: 700;
      color: $primary-color;
      margin-bottom: 8px;
    }

    .txt-secondary {
      width: 65%;
      text-align: center;
      margin: 0 auto;
      margin-bottom: 40px;
      line-height: 170%;
    }
  }

  .property-description-2 {
    
    .property-box {
      margin: 64px 112px 0;
      position: relative;

      .people-img {
        z-index: 0;
      }

      .property-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 32px;
        width: 63%;
        position: absolute;
        top: 48px;
        left: 472px;
        z-index: 1;
      }
    }
  }

  .container {
    background: url("/assets/images/property-img.png");
    border-radius: 9px;
    background-size: cover;
    background-position: center;
    margin: 192px 112px 0;

    .container-info {
      padding: 56px;
      padding-right: auto;

      .txt-primary {
        margin-bottom: 8px;
      }
  
      .txt-white {
        font-size: 16px;
        line-height: 190%;
        width: 45%;
      }
    }
  }
}

#dashboard {
  background: #273138;
  text-align: center;
  padding: 136px 205px;

  .dashboard-paragraph {
    font-size: 16px;
    line-height: 190%;
    width: 75%;
    margin: 0 auto;
    margin-bottom: 80px;
  }
}

#buyers {
  display: grid;
  grid-template-columns: auto auto;
  padding: 136px 112px;

  .about-buyers {
    margin-right: 22px;

    .txt-secondary {
      width: 78%;
      line-height: 170%;
    }
  }

    .grid-cards {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      gap: 56px 88px;
    }
}

#packages {
  background: #F5F5F5;
  padding: 136px 112px 85px;

  .packages-container {

    .our-packages {

      .packages-paragraph {
        line-height: 170%;
        margin-bottom: 32px;
        width: 38%;
      }

      .toggle-switch {
        display: flex;
        align-items: center;
        gap: 18px;
      }

        .monthly, .annualy {
          font-size: 12px;
          font-weight: 700;
          color: $secondary-color;
        }
      }
    }

    .package-cards {

      .flex-cards {
        display: flex;
        gap: 32px;
        align-items: center;
      }
    }
  }

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $primary-color;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 5px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: $primary-color;
}

input:focus + .slider {
  box-shadow: 0 0 1px $primary-color;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#services {
  padding: 136px 112px;

  .service-sentence {
    font-weight: 700;
    font-size: 16px;
    color: $primary-color;
    margin-bottom: 8px;
  }

  .flex-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
    .service-paragraph {
      @include fonts(16px, #666666, 400);
      width: 40%;
    }

    .btn-underline {
      display: flex;
      gap: 4px;
      flex-direction: column;
      .btn-underline {
        width: 145.5px;
        height: 2px;
        justify-content: center;
        background-color: $primary-color;
      }
    }
  }

  .flex-service-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 24.5px;
  }
}

#about-purchasing {
  background-color: $secondary-color;
  padding: 136px 112px;

  .about-purchasing-container {
    display: grid;
    grid-template-columns: 2fr auto;
    grid-template-rows: auto;

    .container-content {

      .content-heading {
        width: 80%;
      }
  
      .container-sentence {
        display: flex;
        align-items: center;
        gap: 6px;
        margin-bottom: 60px;
        a {
        line-height: 170%;
        text-decoration: none;
        border-bottom: 1px solid $primary-color;
        }

        .link-color {
          color: $primary-color;
        }
  
        .fa-arrow-right {
          color: $primary-color;
        }
      }
  
      .container-paragraph {
        font-size: 18px;
        line-height: 130%;
        margin-bottom: 32px;
        width: 50%;
      }
  
      .taglines {
        display: flex;
        flex-direction: column;
        gap: 24px;
  
        .card-taglines {
          display: flex;
          align-items: center;
          gap: 16px;
          .pri-circle {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 14px;
            height: 14px;
            background: $primary-color;
            border-radius: 50%;
          }
        }
      }
    }
  }
}

.faq {
  position: relative;
  z-index: 0;
  padding: 136px 260px;
  background-color: #F5F5F5;
}

.demand {
  background-color: #365C8D;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 102px;
  height: 333px;

  img {
    position: relative;
    z-index: 1;
    top: -16px;
  }

  .section-content {
    .vendor {
      line-height: 24px;
    }
  }

  .section-paragraph {
    font-size: 16px;
    line-height: 190%;
    width: 80%;
  }
}

.opacaity-light {
  opacity: 0.4;
}

.no-opacity {
  opacity: 1;
}